page-about {

    #ionContent{


    }
    #ionCardService{
      margin-top: 0px;
       margin-left: 0px;
       margin-right: 0px;
       width:100%;
       background-size: cover  ;



    }
    #iconCardHeaderService{
      margin-top: 10px;
    }
    #H2ServiceHeader{

    }
    #h2Service{
     margin-top: 5px;
    }
    #ionCardConent{
     margin-top: 0px;
    }
    #h6ServiceContent{
    font-size: 10px;
    }
    #ionCardDetail{
      margin-top:30px;
    }
    #iconH2InTitle{
     margin-right: 7px;font-size: 23px;
    }
    #H6ContentService{
      padding: 1px;font-family: Raleway-Regular;font-size: 10px;
    }
    }


