page-near-offers {
  #ionContent{
    background-color: rgb(228, 226, 226);

  }
  #ionCardService{
    margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     width:100%;
     background-size: cover  ;

  }
  #iconCardHeaderService{
    margin-top: 10px;
  }
  #H2ServiceHeader{

  }
  #h2Service{
    margin-top: 5px;
  }
  #ionCardConent{
   margin-top: 0px;
  }
  #h6ServiceContent{
   font-size: 11px;
  }
  #ionCardDetail{
    margin-top:15px;
  }
  #iconH2InTitle{
    color:rgb(96, 158, 238);margin-right: 7px;font-size: 23px;
  }
  #H6ContentService{
    padding: 1px;font-family: Raleway-Regular;font-size: 12px;
  }
}
