page-services {
#ionContent{
  background-color: rgb(228, 226, 226);

}
#ionCardService{
  margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   width:100%;
   background-size: cover  ;


   background-image: url('../../assets/imgs/background.png' );
}
#iconCardHeaderService{
  margin-top: 10px;
}
#H2ServiceHeader{
  color:white;
}
#h2Service{
  color:white;margin-top: 5px;
}
#ionCardConent{
 margin-top: 0px;
}
#h6ServiceContent{
  color:white; font-size: 10px;
}
#ionCardDetail{
  margin-top:30px;
}
#iconH2InTitle{
  color:rgb(96, 158, 238);margin-right: 7px;font-size: 23px;
}
#H6ContentService{
  padding: 1px;font-family: Raleway-Regular;font-size: 10px;color: rgb(114, 112, 112)
}
}
