page-contact {
  #ionCard{
    margin-bottom: 0px;
    margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
    width:100%;
    background-size: cover  ;

  }
  #h2Header{

  }
  #h6Content{
     font-size: 10px;
  }
  #divLocation{
    display: flex;justify-content: center; margin: 10px;
  }
  #BtnDiv{
    border-radius: 15px; align-items: center;


    text-transform: none;
    font-size:1.3rem;
     font-family: Raleway-Regular
     ;width: 50%;height: 30px
  }
  #icon{
    margin-right: 10px;
  }
  #h4Row{
    color:rgb(1, 37, 51);opacity: .75;
     margin-bottom: 0px;
      font-family:Raleway-Regular
  }
  #colempty{
    margin-top: 0px;margin-bottom: 0px;
  }
  #coladdress{
    margin-top: 0px;
  }
  #pEndOfPage{
    font-size: 11px;
     font-family: Raleway-Bold;
     color: rgb(1, 37, 51);
     white-space:inherit;
  }
  #divButtonSendMessage{
    display: flex;
    justify-content: center;

  }
  #BtnSendMessage{
height: 30px;
    width: 70%;
border-radius: 30px;

  }
  }
