page-portfolio {


    #ionCard{
      margin-bottom: 0px;
      margin-top: 0px;
       margin-left: 0px;
       margin-right: 0px;
      width:100%;
      background-size: cover  ;

       display: flex;
       align-items: center;height: 200px;
    }
    #ionCardHeader{

    }
    #h6Content{
       font-size: 10px;
    }
    #ionCardConent{
      margin-top: 0px;
    }
    #ButtonShowMore{

      border-radius: 40px;
      text-transform: none;
       height: 30px;width: 150px;
       font-family: Raleway-Bold;
       font-size: 13px;
    }
  }





