page-menu {
  #listButton{
    border-bottom :1px solid ;
    color:rgb(1, 37, 51) ;
    border-bottom-color: rgb(233, 229, 229);
     padding: 1px;
  }
  #list{
    margin-top: 0px; margin-bottom: 0px;
  }
  p{
    font-size: 12px;
    font-weight: bold;
     vertical-align: middle;
    white-space:nowrap;
    color:rgb(1, 37, 51) ;
  }
  #icon{
    color:rgb(1, 37, 51) ;
    margin-right: 10px;
  }
  #divContactUs{
    display: flex;
    justify-content: center;
  }
  #btnContactUs{
    font-weight: bold;
    text-align: center;
     text-transform: none;
     border-radius: 30px;

    border-color: rgb(1, 37, 51) ;
    height: 30px; width: 90% ;
    color: rgb(1, 37, 51) ;
    font-size: 14px;
  }
  }
