page-menu {
  #listButton{
    border-bottom :1px solid ;

    border-bottom-color: rgb(233, 229, 229);
     padding: 1px;
     left:12px;
  }
  #list{
    margin-top: 0px; margin-bottom: 0px;
  }
  p{
    font-size: 12px;
    font-weight: bold;
     vertical-align: middle;
    white-space:nowrap;

  }
  #icon{

    margin-right: 10px;
  }
  #divContactUs{
    display: flex;
    justify-content: center;
  }
  #btnContactUs{
    font-weight: bold;
    text-align: center;
     text-transform: none;
     border-radius: 30px;


    height: 30px; width: 90% ;

    font-size: 14px;
  }

  }
